! --URXVT
URxvt.scrollstyle: plain
URxvt.scrollBar: false
URxvt*scrollTtyOuput: false
URxvt*scrollWidthBuffer: true
URxvt*scrollTtyKeypress: true
URxvt.termname: rxvt-unicode

! -- font

URxvt.font:xft:envypn:size=8

!URxvt*lineSpace: 2

! -- perl
URxvt.perl-ext-common: default,clipboard,vtwheel,matcher
URxvt.keysym.Mod4-v: perl:clipboard:paste
URxvt.url-launcher: /usr/local/bin/firefox-nightly
URxvt.matcher.button: 1
!URxvt.colorUL: #9472ec

URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

! -- tabs
!URxvt.tabbed.tabbar-fg: 8
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg: 15
!URxvt.tabbed.tab-bg: 0

! -- border
internalBorder: 9

! special
urxvt*foreground:   #ffffff
urxvt*background:   #1C1C1C
urxvt*cursorColor:  #966699

!black
urxvt*color0:  #333333
urxvt*color8:  #3D3D3D

!red
urxvt*color1:  #8C4665
urxvt*color9:  #BF4D80

green
urxvt*color2:  #287373
urxvt*color10: #53A6A6

!yellow
urxvt*color3:  #7E5D7A
urxvt*color11: #A270A3

!blue
urxvt*color4:  #395573
urxvt*color12: #477AB3

!magenta
urxvt*color5:  #5E468C
urxvt*color13: #7E62B3

!cyan
urxvt*color6:  #31658C
urxvt*color14: #6096BF

!white
urxvt*color7:  #899CA1
urxvt*color15: #C0C0C0



!! Enabling clickable links.
URxvt.perl-ext-common:  default,matcher
URxvt.matcher.button:   1
URxvt.url-launcher:     /usr/bin/firefox
